<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="assets/logo.PNG" alt="logo">
</ion-header>

<ion-content>
  <br>
  <h6 class="ion-text-center">
  App version 1.0.0
  </h6>
  <br>
  <p class="ion-text-justify">
    Bid-Biz is an E-bidding app that is made for companies to bid and buy items from suppliers. This app will make it easier for companies to get their items
    that they needed.
  </p>
</ion-content>
