<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-reports"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-header>
    <h1><b>I was scammed</b></h1>
  </ion-header>
  <ion-card-content>
    <ion-label>
      <u>Scammer Sdn. Bhd</u><br>
      <u>1111111-H</u><br><br>
      This company has scammed me and didn't ship our cargo. In fact, they probably doesn't even have the item that we had ordered.<br>
      <br><br>
      <h2><b>Reported By</b></h2>
      <br>
      Wanzak Sdn. Bhd<br>
      1234567-A<br>
    </ion-label>
  </ion-card-content>
</ion-card>
</ion-content>
