<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/wanzak logo.PNG" alt="logo">
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-text-center">
        <b>Wanzak Bhd</b>
      </div>
      <br><br>
      <b>Address :</b> No.36 Jalan Suasana 4/2 Bandar Tun Hussein Onn
      <br>
      <b>Postal Code :</b> 43200
      <br>
      <b>State :</b> Selangor
      <br><br>
      <b>Contact No. :</b> 0126909485
      <br>
      <b>Email Address :</b> zakwankhalit00@gmail.com
      <br><br>
      <b>Company Reg No :</b> 123456789-H
      <br><br>
      <b>Rating :</b> 4.5
      <br>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <br>
      <b>Rated by :</b> 10 accounts
      <br><br><br>
      <b>Company Description :</b>
      <br>
      Our company sells custom microchips that can be used for making many kind of devices.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-label>
        <h1><b><u>Feedbacks</u></b></h1>
      </ion-label>
      <br>
        <ion-label>
          <h2><b>IronWorks Sdn. Bhd</b></h2>
          <h3>I have bided on a post by this company and they proceed to the payment really quick. This made it easier and faster for us to ship the cargo to them.</h3>
        </ion-label>
        <br>
        <ion-label>
          <h2><b>Scilcone Bhd</b></h2>
          <h3>Good.</h3>
        </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
          <h2><b>Rate and Feedback</b></h2>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rate</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Feedback</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
