<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-post"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/logo.PNG" alt="logo">
      <br>
      <br>
      <div class="ion-text-center">
        <h1><b>Metal Wires 30M x 1000</b></h1>
        <br><br>
        <h1>Current price : RM 27,300.00</h1>
        <br>
      </div>
      <ion-card>
        <ion-card-content>
          <ion-text color="danger">
            *Must be lower than the current price.
            <br>
            *Min RM 100 lower.
          </ion-text>
        </ion-card-content>
      </ion-card>
      <div class = "ion-text-center">
        <ion-text color = "danger">
          72h:32m:05s Left
        </ion-text>
      </div>
      <br>
      <div>
        <h1><b>Details: </b></h1>
      </div>
      Name: Metal Wires<br>
      Diameter: 3CM<br>
      Length: 30 Meter<br>
      Quantity: 1000 Pieces<br>
    </ion-card-content>
    <ion-button>Delete</ion-button>
  </ion-card>

</ion-content>
