<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/logo.PNG" alt="logo">
    </ion-card-header>
  
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
        </ion-item>
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
        </ion-item>
        <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
        <ion-button type="button" expand="block" color="secondary" (click)="register()">Sign Up</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
