:host{
    ion-tab-bar{
        border: 0;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        ion-icon{
            font-size: 1.6rem;
        }
    }

    ion-tab-button{
        max-height: 46px;
        max-width: 56px
    }

    .tab-selected{
        color: white;
        background-color: purple;
        border-radius: 50px;
        max-height: 45px;
        max-width: 65px;
    }
}