<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-button slot = "end" href = "edit-profile">
      Edit Profile
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/wanzak logo.PNG" alt="logo">
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-text-center">
        <b>Wanzak Bhd</b>
      </div>
      <br><br>
      <b>Address :</b> No.36 Jalan Suasana 4/2 Bandar Tun Hussein Onn
      <br>
      <b>Postal Code :</b> 43200
      <br>
      <b>State :</b> Selangor
      <br><br>
      <b>Contact No. :</b> 0126909485
      <br>
      <b>Email Address :</b> zakwankhalit00@gmail.com
      <br><br>
      <b>Company Reg No :</b> 123456789-H
      <br><br>
      <b>Rating :</b> 4.5
      <br>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
      <br>
      <b>Rated by :</b> 10 accounts
      <br><br><br>
      <b>Company Description :</b>
      <br>
      Our company sells custom microchips that can be used for making many kind of devices.
    </ion-card-content>
  </ion-card>
</ion-content>
