<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-button slot = "end" href="edit-address">
      Edit Address
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-title>
          Contact Info
        </ion-title>
      </ion-item>
      <ion-item>
        Name: Ahmad Zakwan Bin Khalit
      </ion-item>
      <ion-item>
        Contact Number: 012-6909485
      </ion-item>
      <ion-item>
        <ion-title>
        Address
        </ion-title>
      </ion-item>
      <ion-item>
        No, 36 Jalan Suasana 4/2, Bandar Tun Hussein Onn
        43200 Cheras
        Selangor
      </ion-item>
      

    </ion-card-content>
  </ion-card>
</ion-content>
