<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-feedback"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-header>
    <h1><b>Updates</b></h1>
  </ion-header>
  <ion-card-content>
    <ion-label>
      This app has a lot of potential. We think this app needs an update with more features such as chatting system or something like that.<br>
      <br><br>
      <h2><b>Submitted By</b></h2>
      <br>
      Wanzak Sdn. Bhd<br>
      1234567-A<br>
    </ion-label>
  </ion-card-content>
</ion-card>
</ion-content>
