<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/logo.PNG" alt="logo">
      <br>
      <br>
      <div class="ion-text-center">
        <h1><b>Copper Plate</b></h1>
        <br><br>
        <h1>Purchased price :<br> RM 30,000.00</h1>
        <br>
      </div>
      <div>
          <h2>
            <b> Description :</b>
          </h2>
      </div>
      <br>
      <div>
        <h3>
          Pure Copper Plate <br>
          Height : 1 Meter <br>
          Width : 1 Meter <br>
          Thickness: 5mm <br>
          Quantity: 1000 pieces
        </h3>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
