<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label>
        <h1><b>Give Feedback</b></h1>
      </ion-label>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Feedback</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <br>
      <section>
        <ion-button href = "/feedback-submitted" expand = "block">SUBMIT</ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
