<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click) = "newPost()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item button (click)="post1()">
    <ion-label>
      Metal Wires 30M x 1000
    </ion-label>
    <div>
      RM 27,300.00<br>
      5 bidders<br>
      <ion-text color="danger">
        72h:32m:05s Left
      </ion-text>
    </div>
  </ion-item>

  <ion-item button (click)="post2()">
    <ion-label>
      Pure Copper Plate
    </ion-label>
    <div>
      RM 32,300.00<br>
      17 bidders<br>
      <ion-text color="danger">
        24h:30m:00s Left
      </ion-text>
    </div>
  </ion-item>

  <ion-item button (click)="post3()">
    <ion-label>
      Scrap Metals
    </ion-label>
    <div>
      RM 13,000.00<br>
      19 bidders<br>
      <ion-text color="danger">
        52h:15m:18s Left
      </ion-text>
    </div>
  </ion-item>
  
</ion-content>