<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-button slot = "end" href = "edit-profile">
      Edit Profile
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class = "ion-text-center">
        <h1><b>Logo</b></h1>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-text-center">
        <b>IronWorks Bhd</b>
      </div>
      <br><br>
      <b>Address :</b> No,12 Jalan Suakasih 2/4 Bandar Tun Hussein Onn
      <br>
      <b>Postal Code :</b> 43200
      <br>
      <b>State :</b> Selangor
      <br><br>
      <b>Contact No. :</b> 0123456789
      <br>
      <b>Email Address :</b> IronWorks@gmail.com
      <br><br>
      <b>Company Reg No :</b> 2345678-A
      <br><br>
      <b>Rating :</b> 5/5
      <br>
      <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      <br>
      <b>Rated by :</b> 1 accounts
      <br><br><br>
      <b>Company Description :</b>
      <br>
      We smelt metals and irons for architectures
    </ion-card-content>
  </ion-card>
</ion-content>
