<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-wallet"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label><h1>RM</h1></ion-label>
      <ion-input placeholder="Input Top-Up Amount" type="number"></ion-input>
    </ion-item>


    <ion-card-content>
      <ion-button>
        <ion-button (click)="topUpSuccess()" expand = "block">Pay Now</ion-button>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
